<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="Numerotarjeta">Numero de tarjeta</label>
                        <div class="d-flex">
                            <label for="cuenta">Cuenta</label>
                            <label for="Issuer">Issuer</label>
                        </div>
                        <label for="NombreTarjeta">Nombre Tarjeta</label>
                        <label for="maarca">Marca</label>
                        <label for="Estatus">Estatus</label>
                        <label for="Saldo">Saldo</label>
                        <label for="TipoCuenta">Tipo de Cuenta</label> 
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>